name: Markdown linting

on:
  push:
  pull_request:

jobs:
  build:
    name: Markdownlint
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - uses: nosborn/github-action-markdown-cli@v1.1.1
      name: Markdownlint
      with:
        files: .
